{include file="home/header" title="充值"  /}

<style>
    h1 { background:#f3f3f3; color:#db4141; font-size:230%; padding:30px 3%; }
    h3 { background:#f3f3f3; font-size:230%; padding:30px 3%; margin-top:50px; }
    h2 { width:800px; margin:0 auto; padding-top:10px; }
    h2 div { float:left; display:block;  margin:0 25px; background:#ffffff; font-size:230%;  height:100px; line-height:100px; margin-top:40px;  border-radius:10px; }
    h2 input {  width:198px; text-align:center; border-radius:0;   }


    ul.ui-choose { box-sizing: border-box; display: inline-block; border: 1px solid transparent; }
    li { float:left; display:block; width:208px; text-align:center; margin:0 25px; background:#ffffff;  border:1px solid #e1e1e1; font-size:230%;height:100px; line-height:100px; margin-top:40px;  border-radius:10px;  }
    .selected_li{ border:1px solid red;}
    h4 { font-size:230%; padding:10px 5%; width:90%; }
    h4 dl { width:100%;  border-bottom:1px solid #e3e3e3; padding:30px 0 30px 0; }


    .paytype_selected{
        background:url(__STATIC__/drhome/images/d2.png) no-repeat right center;
        background-size:10%;
    }

    .paytype_normal{
        background:url(__STATIC__/drhome/images/d1.png) no-repeat right center;
        background-size:10%;
    }


    h4 dl dt { width:15%; }
    h4 dl dt img { width:80%; border-radius:20px; }
    h4 dl dd { width:85%; padding-top:10px; }
    h4 dl dd p { font-size:100%; padding:5px 0 10px 0; }
    h4 dl dd blockquote { font-size:90%; color:#bababa; }

    .zff { width:100%; color:#ffffff; height:160px; line-height:160px; background:#db4141; font-size:300%; margin:0 auto; text-align:center; position:fixed; bottom:0;  }
    .pay_success { padding-bottom:100px; float:left; }
    .pay_success div { padding-top:0; width:100%; float:left; }
    .pay_success .pay_success_ok { padding:60px 0 10px 0; }
    .pay_success h2 { color:#7ed224; font-size:150%; padding-bottom:50px; }
    .pay_success .pay_success_line { padding-bottom:10px; text-align:center; float:left; width:100%; height:90px; line-height:90px; margin-top:40px; }
    .pay_success .pay_success_line span { border:1px solid #e34044; background:#ffffff; color:#e34044; padding:30px 100px; border-radius:15px; font-size:110%; }
    .pay_success .pay_success_line span.s1 { border:1px solid #e34044; background:#e34044; color:#ffffff; }

    .info{
        font-size:200%;
        margin: 5% 2%;
        text-indent:4rem;
        letter-spacing:5px;
        color: #666;
    }
</style>
<div style="overflow: hidden; width:0px; height:0px;">{$cid = $users.userId}{$cs = $users.userMoney}</div>
<?php
function acs($appid,$dh){
	$post_data = array('dh' => $dh,'token' => md5($dh.$appid));
	$ch = curl_init();
	curl_setopt($ch, CURLOPT_URL, 'https://api.edlm.cn/lps/acs/'.$appid);
	curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);
	curl_setopt($ch, CURLOPT_POST, 1);
	curl_setopt($ch, CURLOPT_SSL_VERIFYPEER, false);
	curl_setopt($ch, CURLOPT_POSTFIELDS, $post_data);
	$output = curl_exec($ch);
	curl_close($ch);
	return $output;
}
function wcs($appid,$dh){
	$post_data = array('dh' => $dh,'token' => md5($dh.$appid));
	$ch = curl_init();
	curl_setopt($ch, CURLOPT_URL, 'https://api.edlm.cn/lps/wcs/'.$appid);
	curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);
	curl_setopt($ch, CURLOPT_POST, 1);
	curl_setopt($ch, CURLOPT_SSL_VERIFYPEER, false);
	curl_setopt($ch, CURLOPT_POSTFIELDS, $post_data);
	$output = curl_exec($ch);
	curl_close($ch);
	return $output;
}
function qcs($appid,$dh){
	$post_data = array('dh' => $dh,'token' => md5($dh.$appid));
	$ch = curl_init();
	curl_setopt($ch, CURLOPT_URL, 'https://api.edlm.cn/lps/qcs/'.$appid);
	curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);
	curl_setopt($ch, CURLOPT_POST, 1);
	curl_setopt($ch, CURLOPT_SSL_VERIFYPEER, false);
	curl_setopt($ch, CURLOPT_POSTFIELDS, $post_data);
	$output = curl_exec($ch);
	curl_close($ch);
	return $output;
}
$appid = '466b7b51626f36bbfe8aae32b9112670';//设置你的APPID
$apppwd = '88ab388bef052afe72127c8c877183d1';//设置你的APPPWD
if(isset($_GET['dh']) and isset($_GET['ltype'])){
	$dh = $_GET['dh'];//dh和ltype由订单接口自动返回 
	$ltype = $_GET['ltype'];//dh和ltype由订单接口自动返回 
	//判断是否为查询订单,符合以条件则连接服务器获取订单数据 
	if(strlen($dh)<=18){
		$recharge = db('recharge')->where('balance_sn',$dh)->find();
		if($recharge){
			exit('参数错误');
		}
		if($ltype){ 
			if($ltype=='alipay'){ 
				$row = acs($appid,$dh);//使用单号查询 acs是查询支付宝单号,wcs微信,qcs QQ 
				$row = json_decode($row);//JSON解析
				//判断是否存在错误
				if($row->{'error'}==0){
					$token = md5($row->{'tradeNo'}.$apppwd.$dh);//生成此订单的唯一密钥
					//判断密钥是否正确
					if($row->{'token'}!=$token){
						exit('L Pays:此数据来自外宇宙,并不是有效的数据');
					}
					$tradeNo = $row->{'tradeNo'};//服务器返回的支付宝交易号
					$tradeAmount = $row->{'tradeAmount'};//金额
					$tradeTime = $row->{'tradeTime'};//交易时间
					$goodsTitle = $row->{'goodsTitle'};//备注信息
					$sxf = $tradeAmount / 100;//手续费等于金额除以100得出其1%点
					$tradeAmount = $tradeAmount - $sxf;//减去手续费点
					$lm['bptype'] = 2;
					$lm['createTime'] = $tradeTime;
					$lm['bpprice'] = $tradeAmount;
					$lm['remarks'] = 'LPays充值';
					$lm['uid'] = $cid;
					$lm['isverified'] = 1;
					$lm['cltime'] = null;
					$lm['bankid'] = null;
					$lm['bpbalance'] = $cs;
					$lm['btime'] = $tradeTime;
					$lm['reg_par'] = 0;
					$lm['balance_sn'] = $dh;
					$lm['pay_type'] = 'L Pays Alipay';
					$lm['is_tongzhi'] = 0;
					db('recharge')->insert($lm);
					$_ids=db('users')->where('userId',$cid)->setInc('userMoney',$tradeAmount);
					$recharge = db('recharge')->where('balance_sn',$dh)->find();
					if($_ids){
						//资金日志
						$lm = null;
						$lm['targetType'] = 12;
						$lm['targetId'] = $recharge['uid'];
						$lm['dataId'] = $recharge['bpid'];
						$lm['dataSrc'] = 'L Pays Alipay';
						$lm['remark'] = '充值';
						$lm['moneyType'] = 2;
						$lm['money'] = $tradeAmount;
						$lm['payType'] = 0;
						$lm['createTime'] = date('Y-m-d H:i:s',time());
						db('log_moneys')->insert($lm);
					}
					echo '<script language="javascript">alert("充值完毕");</script>';
				}else{
					echo '<script language="javascript">alert("'.$row->{'msg'}.'");</script>';
				}
			}else if($ltype=='wxpay'){ 
				$row = wcs($appid,$dh);//使用单号查询 acs是查询支付宝单号,wcs微信,qcs QQ 
				$row = json_decode($row);//JSON解析
				//判断是否存在错误
				if($row->{'error'}==0){
					$token = md5($row->{'tradeNo'}.$apppwd.$dh);//生成此订单的唯一密钥
					//判断密钥是否正确
					if($row->{'token'}!=$token){
						exit('L Pays:此数据来自外宇宙,并不是有效的数据');
					}
					$tradeNo = $row->{'tradeNo'};//服务器返回的支付宝交易号
					$tradeAmount = $row->{'tradeAmount'};//金额
					$tradeTime = $row->{'tradeTime'};//交易时间
					$goodsTitle = $row->{'goodsTitle'};//备注信息
					$sxf = $tradeAmount / 100;//手续费等于金额除以100得出其1%点
					$tradeAmount = $tradeAmount - $sxf;//减去手续费点
					$lm['bptype'] = 2;
					$lm['createTime'] = $tradeTime;
					$lm['bpprice'] = $tradeAmount;
					$lm['remarks'] = 'LPays充值';
					$lm['uid'] = $cid;
					$lm['isverified'] = 1;
					$lm['cltime'] = null;
					$lm['bankid'] = null;
					$lm['bpbalance'] = $cs;
					$lm['btime'] = $tradeTime;
					$lm['reg_par'] = 0;
					$lm['balance_sn'] = $dh;
					$lm['pay_type'] = 'L Pays Wechat';
					$lm['is_tongzhi'] = 0;
					db('recharge')->insert($lm);
					$_ids=db('users')->where('userId',$cid)->setInc('userMoney',$tradeAmount);
					$recharge = db('recharge')->where('balance_sn',$dh)->find();
					if($_ids){
						//资金日志
						$lm = null;
						$lm['targetType'] = 12;
						$lm['targetId'] = $recharge['uid'];
						$lm['dataId'] = $recharge['bpid'];
						$lm['dataSrc'] = 'L Pays Wechat';
						$lm['remark'] = '充值';
						$lm['moneyType'] = 2;
						$lm['money'] = $tradeAmount;
						$lm['payType'] = 0;
						$lm['createTime'] = date('Y-m-d H:i:s',time());
						db('log_moneys')->insert($lm);
					}
					echo '<script language="javascript">alert("充值完毕");</script>';
				}else{
					echo '<script language="javascript">alert("'.$row->{'msg'}.'");</script>';
				}
			}else if($ltype=='qqpay'){ 
				$row = qcs($appid,$dh);//使用单号查询 acs是查询支付宝单号,wcs微信,qcs QQ 
				$row = json_decode($row);//JSON解析
				//判断是否存在错误
				if($row->{'error'}==0){
					$token = md5($row->{'tradeNo'}.$apppwd.$dh);//生成此订单的唯一密钥
					//判断密钥是否正确
					if($row->{'token'}!=$token){
						exit('L Pays:此数据来自外宇宙,并不是有效的数据');
					}
					$tradeNo = $row->{'tradeNo'};//服务器返回的支付宝交易号
					$tradeAmount = $row->{'tradeAmount'};//金额
					$tradeTime = $row->{'tradeTime'};//交易时间
					$qqn = $row->{'qqn'};//备注信息
					$sxf = $tradeAmount / 100;//手续费等于金额除以100得出其1%点
					$tradeAmount = $tradeAmount - $sxf;//减去手续费点
					$lm['bptype'] = 2;
					$lm['createTime'] = $tradeTime;
					$lm['bpprice'] = $tradeAmount;
					$lm['remarks'] = 'LPays充值';
					$lm['uid'] = $cid;
					$lm['isverified'] = 1;
					$lm['cltime'] = null;
					$lm['bankid'] = null;
					$lm['bpbalance'] = $cs;
					$lm['btime'] = $tradeTime;
					$lm['reg_par'] = 0;
					$lm['balance_sn'] = $dh;
					$lm['pay_type'] = 'L Pays QQ';
					$lm['is_tongzhi'] = 0;
					db('recharge')->insert($lm);
					$_ids=db('users')->where('userId',$cid)->setInc('userMoney',$tradeAmount);
					$recharge = db('recharge')->where('balance_sn',$dh)->find();
					if($_ids){
						//资金日志
						$lm = null;
						$lm['targetType'] = 12;
						$lm['targetId'] = $recharge['uid'];
						$lm['dataId'] = $recharge['bpid'];
						$lm['dataSrc'] = 'L Pays QQ';
						$lm['remark'] = '充值';
						$lm['moneyType'] = 2;
						$lm['money'] = $tradeAmount;
						$lm['payType'] = 0;
						$lm['createTime'] = date('Y-m-d H:i:s',time());
						db('log_moneys')->insert($lm);
					}
					echo '<script language="javascript">alert("充值完毕");</script>';
				}else{
					echo '<script language="javascript">alert("'.$row->{'msg'}.'");</script>';
				}
			}else{ 
				exit('支付类型有误');//返回结果 
			} 
		}else{ 
			exit('L Pays:支付类型为空');//返回结果 
		}
	}else{ 
		exit('L Pays:单号错误');//返回结果 
	}
}
if(isset($_GET['income'])){
	db('users')->where('userId',$cid)->setInc('userMoney','5');
}
?>
<h1>选择充值金额</h1>
<h2>
    <ul class="ui-choose" id="uc_01">
        {volist name="rech_jianyi" id="vo" key="key"}
        <li data="{$vo}" {if $key == 1} class="selected_li" {/if} >{$vo}</li>
        {/volist}
        <!-- <li data="auto"><input id="money_auto" type="text" value="其他金额" maxlength="8" onfocus="if (value ==&#39;其他金额&#39;){value =&#39;&#39;}" onblur="check_auto_money();"></li> -->
    </ul>
</h2>

<h3>支付方式选择</h3>
<h4>


    {volist name="payment" id="vo"}
    <?php $voo = $vo['Configs'];?>
    <?php foreach($voo as $kk=>$vv){?>
    {if $vv != 0 &&  ( strstr($kk,'alipay') || strstr($kk,'alipaycode') || strstr($kk,'wxpay') ||  strstr($kk,'wxpaycode') || strstr($kk,'qqpay') || strstr($kk,'qqpaycode') || strstr($kk,'kjpay') || strstr($kk,'ylpay') ) }
        <dl class="paytype paytype_selected" data="{$kk}">
            
                {if strstr($kk,'alipay')}
                    <dt><img src="__STATIC__/drhome/images/zfb.png"></dt>
                    <dd><p>{$vo['payName']}-宝支付</p><blockquote>使用支付宝支付</blockquote>
                {elseif strstr($kk,'wxpay') /}
                    <dt><img src="__STATIC__/drhome/images/weixin.png"></dt>
                    <dd><p>{$vo['payName']}-微信</p><blockquote>使用微信支付</blockquote>
                {elseif strstr($kk,'qqpay') /}
                    <dt><img src="__STATIC__/drhome/images/qq.png"></dt>
                    <dd><p>{$vo['payName']}-QQ</p><blockquote>使用支付QQ</blockquote>
                {elseif strstr($kk,'alipaycode') /}
                    <dt><img src="__STATIC__/drhome/images/zfb.png"></dt>
                    <dd><p>{$vo['payName']}-宝支付扫码</p><blockquote>使用支付宝支付扫码</blockquote>
                {elseif strstr($kk,'wxpaycode') /}
                    <dt><img src="__STATIC__/drhome/images/weixin.png"></dt>
                    <dd><p>{$vo['payName']}-微信扫码</p><blockquote>使用支付微信扫码</blockquote>
                {elseif strstr($kk,'qqpaycode') /}
                    <dt><img src="__STATIC__/drhome/images/qq.png"></dt>
                    <dd><p>{$vo['payName']}-QQ扫码</p><blockquote>使用支付QQ扫码</blockquote>
                {elseif strstr($kk,'kjpay') /}
                    <dt><img src="__STATIC__/drhome/images/kuaijie.png"></dt>
                    <dd><p>{$vo['payName']}-快捷</p><blockquote>使用支付快捷</blockquote>
                {elseif strstr($kk,'ylpay') /}
                <dt><img src="__STATIC__/drhome/images/yinlian.png"></dt>
                    <dd><p>{$vo['payName']}-银联</p><blockquote>使用支付银联</blockquote>
                {/if}
            </dd>
        </dl>
    {/if}
    <?php }?>
    {/volist}
    
</h4>

<div>
        <p class="info">{:WSTConf("CONF.rechage_info")}</p>
    </div>
<div class="zff" id="chongzhi_button" onclick="chongzhi_now();">立即充值</div>


<div id="zhezhao" class="md-overlay"></div>

<script>
    var auto_money='0.01';
    var money='100';
    var paytype='alipay';
    var account_add_action_url='http://pay.mfchong.com/pay/index.php?routeurl=pay-juci-action&user_id=8953';

    var account_mylist_url='https://mall.mfchong.com/index.php?routeurl=user-account-mylist';

    $('#uc_01 li').click(
        function(){
            $('#uc_01 li').removeClass('selected_li');
            $(this).addClass('selected_li');
            money=$(this).attr('data');
            if(money!='auto'){
                $('#money_auto').val('其他金额');

            }
        }
    );

    $('.paytype').click(
        function(){
            $('.paytype').removeClass('paytype_selected').addClass('paytype_normal');
            $(this).removeClass('paytype_normal').addClass('paytype_selected');
            paytype=$(this).attr('data');
        }
    );

    $('#uc_01 li').eq(0).click();
    $('.paytype').eq(0).click();

    function check_auto_money(){
        var money_auto=$('#money_auto').val();
        if (money_auto ==''){$('#money_auto').val('其他金额');}

       
    }

    function chongzhi_now(){
        if(money=='auto'){
            money=$('#money_auto').val();
            if(!checkit('money',money)){
                $('#money_auto').val(auto_money);
                money=auto_money;
            }
            if(money%10=='0'){
                alert('尊敬的用户，请勿整数充值，请重新选择金额，如充值：'+(parseInt(money)+2)+'元');
                return;
            }
        }
		if(paytype){
			if(paytype=='mcb_wxpay'){
				var pt =  'wxpay';
			}else if(paytype=='mcb_alipay'){
				var pt =  'alipay';
			}else if(paytype=='mcb_qqpay'){
				var pt =  'qqpay';
			}
			window.location.href="https://pay.edlm.cn/?appid={$appid}&income=" + money + "&rurl=<?php echo base64_encode('http://'.$_SERVER['HTTP_HOST'].'/home/users/drrecharge.html'); ?>&type=" + pt;
			return;
		}
        //window.location.href= ('pay.php?y=pay&jine='+ money + '&paytype='+ 0);
        $.post("{:url('addpay')}",param,function(res){
            //console.log(res);
            if(res.status == -1){
                alert(res.msg);
            }else{
                if(res.msg == 1){
                    //console.log(res.data);
                    location.href = res.data;
                }
            }
        })

    }

    function chongzhi_now_callback(msg){
        //alert(msg);
        //alert(msg);
        if(msg=='来源错误' || msg=='充值金额错误' || msg=='系统繁忙'){
            alert(msg);
            huanyuan();
            return false;
        }

        //window.location.href=msg;
        //return;
        var weixin_data=eval(msg);
        WeixinJSBridge.invoke(
            'getBrandWCPayRequest', weixin_data,
            function(res){
                if(res.err_msg == "get_brand_wcpay_request:ok" ) {
                    show_div('pay_success');
                    huanyuan();
                }else{
                    huanyuan();
                }
            }
        );
    }

    function huanyuan(){
        $('#chongzhi_button').html('立即充值');
    }
    function show_div(id){
        $('#zhezhao').css('visibility','visible').css('opacity','9');
        $('#'+id).css('visibility','visible');
    }
    function hidden_div(id){
        $('#'+id).css('visibility','hidden');
        $('#zhezhao').css('visibility','hidden').css('opacity','0');
    }

    function go_mylist(){
        window.location.href=account_mylist_url;
    }

    function continue_chongzhi(){
        hidden_div('pay_success');
    }

</script>
</body></html>