<!-- {include file="home/header" title="公众号"  /} -->
{include file="home/header_top" title="公众号" /}

	<div style="    text-align: center;margin-top: 20%;">
		
		<!-- <img style="width: 70%;" src="__ROOT__/{:GetTableValue('ads',82,'adFile','adId')}"> -->
		<img style="width: 70%;" src="__STATIC__/drhome/images/gzh.jpg">
	</div>
	<h2 style="text-align:center;font-size: 3rem;margin-top: 4rem;">扫描关注汇卡精品汇微信公众号</h2>

	<div class="nav_bottom">
		<div><a href="{:url('mall/index')}" class="a1">首页</a></div>
		<div><a href="{:url('mall/queryOrderList')}" class="a5 a_5">订单</a></div>
		<div><a href="{:url('mall/queryMallCart')}" class="a6 a_6">购物车</a></div> 
		<div><a href="{:url('users/center')}" class="a4 a_4">我的</a></div>
	</div>

</body></html>


