{include file="home/header" title="支付宝账户"  /}

<style>
body { background:#f7f7f7; }
.card_line { background:#ffffff; margin:3% 0; width:100%; float:left; padding:10px 0 30px 0; }
.card_line form { padding-bottom:30px; }
.card_line dl { width:100%; font-size:250%; padding:30px 5% 30px 5%; height:60px; line-height:60px; border-bottom:1px solid #ededed; }
.card_line dl dt { width:37%; text-align:right; }
.card_line dl dd { width:60%; }
.card_line dl dd input { width:100%; height:50px; border:0; color:#b5b5b5; }
.card_line dl dd input.tell { width:50%;  }
.card_line dl dd span { float:right; font-size:80%; border:1px solid #f94701; height:58px; line-height:58px; color:#f94701; border-radius:15px; padding:0 30px; }
.card_line dl dd select { width:100%; height:50px; border:0; color:#b5b5b5; }
.card_line h1 input { font-size:300%; color:#ffffff; width:90%; margin:3% 5% 5% 5%; padding:30px 0; background:#e34044; float:left; -webkit-appearance:none; vertical-align: middle;  border-radius:15px; }
.card_line p { width:90%; padding:7px 5%; font-size:180%; color:#e34044; }
</style>



<div class="card_line">
        <form action='' method='post' onsubmit='return checkform();'>
        <dl>
            <dt>流水比例（%）：</dt>
            <dd><input type="text" id="percent" value="" placeholder="请输入流水比例"/></dd>
        </dl>
        
        

        
        <h1><input type="submit" name="button" id="button" value="保存" /></h1>
        </form>
        <p>注：您给下级代理商的比例需小于自身比例，提交后不可修改</p>
       
        
    </div>  


    


	<div class="sub">
	    <div><a href="{:url('home/index/index')}" class="a1 a_1">首页</a></div>
	    <div><a href="{:url('index/kaijiang')}" class="a2 a_2">助手</a></div>
	    <div><a href="{:url('index/paihang')}" class="a3 a_3">排行</a></div>
	    <div><a href="{:url('users/index')}" class="a4 ">我的</a></div>
	</div>


    <script>
    
    function checkform() {
    	
    	var posturl = '';
    	var uid = "{$uid}";
    	var percent = $('#percent').val();
    	var postdata = 'userId='+uid+'&percent='+percent;
    	$.post(posturl,postdata,function(res){
    		alert(res.msg);
    		if(res.status == 1){
    			history.go(-1);
    		}

    	})
    	return false;
    }



</script>


</body></html>

