{extend name="base" /}
{block name="js"}
<script src="__ADMIN__/payments/payments.js?v={$v}" type="text/javascript"></script>
{/block}
{block name="main"}
<div class="l-loading" style="display: block" id="wst-loading"></div>

<form id="payForm" autocomplete="off">
<table class='wst-form wst-box-top'>
  <tr>
      <th width='150'>支付名称<font color='red'>*</font>：</th>
          <td>
            <input type="text" id="payName" name="payName" value="{$object['payName']}" class="ipt" maxLength='100' />
          </td>
       </tr>
       <tr>
          <th>微信支付代码<font color='red'>*</font>：</th>
          <td>
            <input type="text" id="qtb_wxpay" name="qtb_wxpay" value="{$object['qtb_wxpay']?? ''}" class="cfg" maxLength='100' />
          </td>
       </tr>
       <tr>
          <th>支付宝支付代码<font color='red'>*</font>：</th>
          <td>
              <input type="text" id="qtb_alipay" name="qtb_alipay" value="{$object['qtb_alipay']?? ''}" class="cfg" maxLength='100' />
          </td>
       </tr>
       <tr>
          <th>快捷支付代码<font color='red'>*</font>：</th>
          <td>
              <input type="text" id="qtb_kjpay" name="qtb_kjpay" value="{$object['qtb_kjpay']?? ''}" class="cfg" maxLength='200' />
          </td>
       </tr>
       <tr>
          <th>商户号<font color='red'>*</font>：</th>
          <td>
              <input type="text" id="qtb_appid" name="qtb_appid" value="{$object['qtb_appid']?? ''}" class="cfg" maxLength='200' />
          </td>
       </tr>
       <tr>
          <th>appkey<font color='red'>*</font>：</th>
          <td>
              <input type="text" id="qtb_appkey" name="qtb_appkey" value="{$object['qtb_appkey']?? ''}" class="cfg" maxLength='800' />
          </td>
       </tr>
       
       <tr>
          <th>支付方式描述<font color='red'>*</font>：</th>
          <td>
              <textarea id="payDesc" name="payDesc" class="ipt" style="width:340px;height:100px;" >{$object['payDesc']}</textarea>
          </td>
       </tr>
       <tr>
          <th>排序号<font color='red'>*</font>：</th>
          <td> 
              <input type="text" id="payOrder" name="payOrder" value="{$object['payOrder']}" class="ipt" maxLength='20' />
          </td>
       </tr>
  
  <tr>
     <td colspan='2' align='center'>
       <input type="hidden" id="id" value="{$object['id']}" />
       <input type="submit" value="提交" class='btn btn-blue' />
       <input type="button" onclick="javascript:history.go(-1)" class='btn' value="返回" />
     </td>
  </tr>
</table>
</form>


<script>

</script>
{/block}

